body {
  background-color: #f5f3f1 !important;
  font-family: Albura !important;
  padding: 5%;
  font-size: 2.5rem;
}

h1 {
  font-family: Albura SemiBold !important;
  font-weight: 400;
  line-height: 1.125;
}

@media (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: #f5f3f1 !important;
    font-family: Albura !important;
    padding: 5%;
    font-size: 2rem !important;
  }

  h1 {
    font-family: Albura SemiBold !important;
    font-weight: 400;
    line-height: 1.125;
    font-size: 2.5rem;
  }

  .in-content-image {
    width: 300px !important;
    height: 300px !important;
    margin: 20px 0px;
  }

  .in-content-rectangle-image {
    margin: 20px 0px;
    width: 100% !important;
  }
}

p {
  font-family: Albura !important;
}

a {
  font-family: Albura SemiBold !important;
  color: black !important;
  font-weight: 400;
  line-height: 32px;
  font-family: Albura SemiBold !important;
}
.me {
  width: 300px;
  height: 300px;
}
.header {
  padding: 20px 0px 20px 0px;
}
.circle-container {
  width: 150px; /* Adjust the size of the circle as needed */
  height: 150px; /* Adjust the size of the circle as needed */
  border-radius: 50%; /* Creates a circular shape */
  overflow: hidden; /* Clips the content to the circular shape */
}

.circle-image {
  width: 100%; /* Make the image take up the full circle container */
  height: auto; /* Maintain the image's aspect ratio */
}
.post-container {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0px;
}
.post-list {
  margin: 20px 0px;
}

.post-metadata {
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
  font-size: 15px;
}
.blog-text {
  padding: 0 !important;
  margin-top: 20px;
}
.introduction-text {
  margin-bottom: 20px;
}
.inline-link {
  color: #000000 !important;
  text-decoration: underline;
}

.in-content-image {
  width: 400px;
  height: 400px;
  margin: 50px 0px;
}
.linked-in-share-button {
  background-image: url("linkedin.png");
}

.share-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}
.share-button i {
  margin-right: 8px;
}
.linkedin {
  background-color: #0077b5;
}
.twitter {
  background-color: #1da1f2;
}
.sticky-share-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0077B5; /* LinkedIn color */
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.sticky-share-button i {
    margin-right: 8px;
}
.share-options {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.share-options button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: black;
}
.share-options button i {
    margin-right: 8px;
}
.share-options button:hover {
    background-color: #f0f0f0;
}